<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Landy.testcases.NB_RealEstate_Page_Test">
      <methods>
     <include name="Create_New_Application" />
     <include name="selectState_Test" />
     <include name="Select_Re_StdTest1" />
     
      </methods>
      </class> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
